#FileUpload {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#FileUpload form {
    background: #fcfcfc;
    border: 1px solid #ddd;
    padding: 2em;
    width: 400px;
}

#FileUpload .error {
    background-color: pink;
    border: 1px solid;
    color: #ff0000;
    margin-bottom: 1em;
}
